.bg-barbarian {
  background-color: #e7623e;
}
.bg-bard {
  background-color: #ab6dac;
}
.bg-cleric {
  background-color: #91a1b2;
}
.bg-druid {
  background-color: #7a853b;
}
.bg-fighter {
  background-color: #7f513e;
}
.bg-monk {
  background-color: #51a5c5;
}
.bg-paladin {
  background-color: #b59e54;
}
.bg-ranger {
  background-color: #507f62;
}
.bg-rogue {
  background-color: #555752;
}
.bg-rogue {
  background-color: #555752;
}
.bg-sorcerer {
  background-color: #992e2e;
}
.bg-warlock {
  background-color: #7b469b;
}
.bg-wizard {
  background-color: #2a50a1;
}
