@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './_fonts.css';
@import './_colors.css';

html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  @apply font-sans text-gray-900 antialiased;
}

.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.52)),
    url('/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
